@{
    ViewData["Title"] = "About Us";
}

<div class="why-choose-section">
	<div class="container">
		<div class="row justify-content-between align-items-center">
			<div class="col-lg-6">
				<h2 class="section-title">Why Choose Us</h2>
				<p>KhumaloCraft Emporium is an innovative e-commerce platform showcasing artisanal crafts worldwide. We empower artisans by providing them a global audience and customers with unique, curated crafts and stories.</p>
				<div class="row my-5">
					<div class="col-6 col-md-6">
						<div class="feature">
							<div class="icon">
								<img src="/Images/truck.svg" alt="Image" class="imf-fluid">
							</div>
							<h3>Fast &amp; Free Shipping</h3>
							<p>From checkout to doorstep, our efficient shipping ensures timely delivery of your artisanal treasures.</p>
						</div>
					</div>

					<div class="col-6 col-md-6">
						<div class="feature">
							<div class="icon">
								<img src="/Images/bag.svg" alt="Image" class="imf-fluid">
							</div>
							<h3>Easy to Shop</h3>
							<p>Our intuitive platform makes finding and purchasing your favorite artisanal treasures a delight.</p>
						</div>
					</div>

					<div class="col-6 col-md-6">
						<div class="feature">
							<div class="icon">
								<img src="/Images/support.svg" alt="Image" class="imf-fluid">
							</div>
							<h3>24/7 Support</h3>
							<p>Whether you have a question about an order, need assistance with a product, or simply want to say hello, our dedicated support team is here to help around the clock.</p>
						</div>
					</div>

					<div class="col-6 col-md-6">
						<div class="feature">
							<div class="icon">
								<img src="/Images/return.svg" alt="Image" class="imf-fluid">
							</div>
							<h3>Hassle Free Returns</h3>
							<p>If for any reason you're not completely satisfied with your purchase, simply initiate a return through our user-friendly platform. Our streamlined process ensures that returning your item is quick and easy, with no questions asked.</p>
						</div>
					</div>

				</div>
			</div>

			<div class="col-lg-5">
				<div class="img-wrap">
					<img src="/Images/Image4.jpg" alt="Image" class="img-fluid">
				</div>
			</div>

		</div>
	</div>
</div>
<div class="untree_co-section">
	<div class="container">

		<div class="row mb-5">
			<div class="col-lg-5 mx-auto text-center">
				<h2 class="section-title">Our Team</h2>
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="col-12 col-md-6 col-lg-3 mb-5 mb-md-0">
				<img src="/Images/Profile2.jpg" class="img-fluid mb-5" style="height: 260px; width:320px;">
				<h3 clas><a href="#"><span class="">Keabetswe</span> Mokwena</a></h3>
				<span class="d-block position mb-4">Software Developer,Tech Lead,Scrum Master</span>
			</div>
			<div class="col-12 col-md-6 col-lg-3 mb-5 mb-md-0">
				<img src="/Images/Profile1.jpg" class="img-fluid mb-5" style="height: 1080; width: 660;">

				<h3 clas><a href="#"><span class="">Omphile Gaven</span> Walker</a></h3>
				<span class="d-block position mb-4">Software Engineer, Solution Architect</span>
			</div>
			
		</div>
	</div>
</div>