@{
    ViewData["Title"] = "Home Page";
}

<div class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1>Handcrafted <span clsas="d-block">Treasures</span></h1>
                    <p class="mb-4">Explore unique artisanal creations from around the world</p>
                    <p><a href="" class="btn btn-secondary me-2">Shop Now</a><a href="#" class="btn btn-white-outline">Explore</a></p>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="hero-img-wrap">
                    <img src="/images/business2-2.jpg" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
                <h2 class="mb-4 section-title">Crafted with excellent material.</h2>
                <p class="mb-4">These handcrafted creations tell stories of heritage, creativity, and craftsmanship, reflecting the diverse cultural tapestry of artisans from different corners of the globe.</p>
               
            </div>
            <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
                <a class="product-item" href="cart.html">
                    <img src="/images/Image1.jpg" class="img-fluid product-thumbnail">
                    <h3 class="product-title">Ceramic mug</h3>
                    <strong class="product-price">R150.00</strong>

                    <span class="icon-cross">
                        <img src="/images/Image1.jpg" class="img-fluid">
                    </span>
                </a>
            </div>
            <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
                <a class="product-item" href="cart.html">
                    <img src="/Images/Image2.jpeg" class="img-fluid product-thumbnail">
                    <h3 class="product-title">Enchanted Vase</h3>
                    <strong class="product-price">R500.00</strong>

                    <span class="icon-cross">
                        <img src="/images/Image2.jpeg" class="img-fluid">
                    </span>
                </a>
            </div>
            <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
                <a class="product-item" href="cart.html">
                    <img src="images/Image3.jpg" class="img-fluid product-thumbnail">
                    <h3 class="product-title">Bringer of luck side bag</h3>
                    <strong class="product-price">R300.00</strong>

                    <span class="icon-cross">
                        <img src="images/Image3.jpg" class="img-fluid">
                    </span>
                </a>
            </div>

        </div>
    </div>
</div>
<div>
    <section class="company-section">
        <div class="left-side">
            <h2>Our Story</h2>
            <p>At KhumaloCraft Emporium, our journey began with a simple yet profound vision: to create a platform where artisans from every corner of the globe could share their craft with the world. Inspired by the rich tapestry of cultural traditions and the boundless creativity of artisans, we embarked on a mission to celebrate craftsmanship and foster connections between artisans and enthusiasts worldwide.</p>
            <p>Driven by our passion for authenticity and our commitment to empowering artisans, we curate a diverse collection of handcrafted treasures that reflect the beauty, heritage, and ingenuity of their creators. Each product in our collection is a testament to the skill, dedication, and artistry of the artisans who bring them to life.</p>
        </div>
        <div class="right-side">
            <h2>Our Mission</h2>
            <p>At KhumaloCraft Emporium, we are on a mission to redefine the way people perceive and interact with handmade goods. Our mission is to create a global marketplace that celebrates the unique stories, traditions, and talents of artisans while providing customers with access to high-quality, ethically sourced products.</p>
            <p>We strive to foster a community where artisans are valued, respected, and empowered to pursue their craft with dignity and pride. Through our platform, we aim to promote sustainable practices, preserve cultural heritage, and create opportunities for economic empowerment, ensuring that the beauty of handmade craftsmanship continues to enrich lives for generations to come.</p>
        </div>
    </section>
</div>
