@{
    ViewData["Title"] = "My Work";
}

<div class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1>Our <span clsas="d-block">Services</span></h1>
                    <p class="mb-4">KhumaloCraft Emporium offers a curated collection of unique artisanal crafts from around the world, each inspired by the rich culture and traditions that are passed down from generation to generation. These handcrafted creations tell stories of heritage, creativity, and craftsmanship, reflecting the diverse cultural tapestry of artisans from different corners of the globe. From intricately woven textiles to exquisitely carved sculptures, every piece in our collection carries with it a sense of history and authenticity, inviting customers to connect with the artisans and their unique artistic expressions. </p>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="hero-img-wrap">
                    <img src="/images/Image1.jpg" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="product-section">
    <div class="row">
        <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
            <a class="product-item" href="cart.html">
            <img src="/images/African.jpg" class="img-fluid product-thumbnail">
            <h3 class="product-title">Custodiuos Masks</h3>
            <strong class="product-price">R15000.00</strong>
            <span class="icon-cross">
                <img src="/images/African.jpg" class="img-fluid">
            </span>
            </a>
        </div>

    <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-1">
        <a class="product-item" href="cart.html">
            <img src="/Images/Vases.jpg" class="img-fluid product-thumbnail">
            <h3 class="product-title">Luminous Vases</h3>
            <strong class="product-price">R5000.00</strong>
            <span class="icon-cross">
                <img src="/images/Vases.jpg" class="img-fluid">
            </span>
        </a>
    </div>

    <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
        <a class="product-item" href="cart.html">
            <img src="/Images/Pots.jpg" class="img-fluid product-thumbnail">
            <h3 class="product-title">Fiery Pots</h3>
            <strong class="product-price">R25000.00</strong>
            <span class="icon-cross">
                <img src="/images/Pots.jpg" class="img-fluid">
            </span>
        </a>
    </div>
                    
    <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
        <a class="product-item" href="cart.html">
            <img src="/Images/Plates.jpg" class="img-fluid product-thumbnail">
            <h3 class="product-title">Sun Dance Plates</h3>
            <strong class="product-price">R5000.00</strong>
            <span class="icon-cross">
                <img src="/images/Plates.jpg" class="img-fluid">
            </span>
        </a>
    </div>

    <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
        <a class="product-item" href="cart.html">
            <img src="/Images/Dishes.jpg" class="img-fluid product-thumbnail">
            <h3 class="product-title">Kaleidoscope Dishes</h3>
            <strong class="product-price">R5000.00</strong>
            <span class="icon-cross">
                <img src="/images/Dishes.jpg" class="img-fluid">
            </span>
        </a>
    </div>

    <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
        <a class="product-item" href="cart.html">
            <img src="/Images/Image3.jpg" class="img-fluid product-thumbnail">
            <h3 class="product-title">Bringer of luck Side Bag</h3>
            <strong class="product-price">R5000.00</strong>
            <span class="icon-cross">
                <img src="/images/Image3.jpg" class="img-fluid">
            </span>
        </a>
    </div>

    <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
        <a class="product-item" href="cart.html">
            <img src="/Images/Pots2.jpg" class="img-fluid product-thumbnail">
            <h3 class="product-title">Enchanted Pots</h3>
            <strong class="product-price">R5000.00</strong>
            <span class="icon-cross">
                <img src="/images/Pots2.jpg" class="img-fluid">
            </span>
        </a>
    </div>

    <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
        <a class="product-item" href="cart.html">
            <img src="/Images/Bowls.jpg" class="img-fluid product-thumbnail">
            <h3 class="product-title">Wooden Bowls</h3>
            <strong class="product-price">R5000.00</strong>
            <span class="icon-cross">
                <img src="/images/Image1.jpg" class="img-fluid">
            </span>
        </a>
    </div>
</div>